@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--b1: #000000;
	--n: 21% 0.003 296.813;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

html,
body {
	/* height: 100%; */
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
	font-weight: 800;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

p {
	line-height: 1.6;
	margin-bottom: 1rem;
}

header {
	position: relative;
}

main {
	position: relative;
	flex: 1;
}

.footer {
	column-gap: unset;
	row-gap: unset;
	line-height: unset;
	flex-direction: column-reverse;
	place-items: unset;
	position: relative;
	grid-auto-flow: unset;
	width: unset;
}

.devx-logo-copyright {
	margin-top: 2.313rem;
}

.footer > * {
	place-items: center;
	gap: unset;
}

@media (min-width: 768px) {
	.footer {
		flex-direction: row;
	}

	.devx-logo-copyright {
		margin-top: 0;
	}
}
